$primaryR: hsl(0, 100%, 74%) ;
$primaryG: hsl(154, 59%, 51%);
$accent: hsl(248, 32%, 49%);
$neutralDB: hsl(249, 10%, 26%);
$neutralGB: hsl(246, 25%, 77%);
$coke: white;
$fontFam: "Poppins";

* {
  font-family: $fontFam;
  

  ::placeholder {
    color: $neutralDB;
    font-weight: 500;
    
  }
  
}

main {
  background-image: url("bg-intro-mobile.png");
  background-color: $primaryR;
  width: min(90%, 800px);
  height: 85%;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 1rem;
  

  h1 {
    color: $coke;
    font-size: 2rem;
    
  }

  p{
    color: $coke;
    font-size: 1.2rem;
    
  }
  .subscription {
    width: 95%;
    height: 4.5rem;
    font-size: 1.2rem;
    background-color: $accent;
    color: $coke;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    padding: 0 3rem;
    border: 0;
    border-radius: .7rem .7rem;
    box-shadow: -.3rem .3rem hsla(249, 10%, 26%, 0.2);
  }

  form {
    overflow: hidden;
    background-color: $coke;
    padding-top: .8rem;
    height: 30rem;
    border-radius: .5rem .5rem;

    input {
      height: 3rem;
      width: 80%;
      margin: .7rem 0;
      padding: 0 1rem;
      border: .2em solid $neutralGB;

      
    }

    button {
      background-color: $primaryG;
      color: $coke;
      font-size: 1.3rem;
      height: 4rem;
      width: 80%;
      border-radius: .4rem .4rem;
      border: 0;
      margin: 1rem 0;
    }
    
    p {
      color: $neutralDB;
      font-size: .8rem;
      padding: 0 3rem;

      a {
        text-decoration: none;
        color: $primaryR;
      }
    }
    
  }
}


.error {
    display: block;
    color: $accent;
    font-size: 1rem;
  }
  
@media  screen and (min-width: 1000px) {

  body {
  
    overflow: hidden;
  }

  main {
    
    background-image: url("bg-intro-mobile.png");
    width: 98%;
    height: 1000px;
    

    h1 {
      font-size: 3rem;
    }

    .pitch {
      text-align: left;
      position: relative;
      right: 25rem;
      top: 10rem;
      padding: 0 28rem;
    } 

    .subscription {
      width: 40%;
      position: relative;
      left: 18.5rem;
      top: -21rem;
    }

    form {
      width: 40%;
      position: relative;
      left: 45rem;
      top: -21rem;
    }
    
    
  }
  
}